<ng-container *ngIf="obsUser | async as U; else notLogged">
  <h2>Evaluation from the server</h2>
  <pre *ngIf="(evalsObs | async) as E">
    Version {{E[0]}}
    Yout tests versus correction codes <span [innerHTML]="versusCode(E)"></span>
    Your tests versus hordes of mutants <span [innerHTML]="versusMutants(E)"></span>
  </pre>

  <hr/>
  <table *ngIf="(usersObserved | async)?.length">
    <thead>
      <th>Student</th>
      <th>Evaluation</th>
    </thead>
    <tbody>
      <tr *ngFor="let U of usersObserved | async">
        <td>
          <button (click)="forceEval(U)">eval</button>
          {{getStudentName(U)}}
        </td>
        <td *ngIf="getStudentResult(U) as R">
          <div>Version {{version(R)}}</div>
          <pre>Tests versus reference code: <span [innerHTML]="versusCode(R)"></span></pre>
          <pre>Tests versus mutants: <span [innerHTML]="versusMutants(R)"></span></pre>
        </td>
      </tr>
    </tbody>
  </table>
</ng-container>

<ng-template #notLogged>
  You must be logged in to access this ressource...
</ng-template>
