<ng-container *ngIf="obsUser | async as U; else notLogged">
  <h2>Evaluation from the server</h2>

  <hr/>
  <table>
    <thead>
      <th>Student</th>
      <th>Evaluation</th>
    </thead>
    <tbody>
      <tr *ngFor="let U of usersObserved | async">
        <td>
          <button (click)="forceEval(U)">eval</button>
          {{getStudentName(U)}}
        </td>
        <td>
          {{getStudentResult(U) | json}}
        </td>
      </tr>
    </tbody>
  </table>
</ng-container>

<ng-template #notLogged>
  You must be logged in to access this ressource...
</ng-template>
