<ng-container *ngIf="obsUser | async as U; else notLogged">
  <h2>Evaluation from the server</h2>

  <hr/>
  <table>
    <thead>
      <th>Student</th>
      <th>Evaluation</th>
    </thead>
    <tbody>
    <!--
      <tr *ngFor="let userDoc of obsUserDocs | async">
        <td>
          <button (click)="forceEval(userDoc)">eval</button>
          {{getStudentName(userDoc)}}
        </td>
        <td>
          {{getStudentResult(userDoc)}}
        </td>
      </tr>
      -->
    </tbody>
  </table>
</ng-container>

<ng-template #notLogged>
  You must be logged in to access this ressource...
</ng-template>
