<table [class.editable]="editable">
    <tbody>
        <tr *ngFor="let nbL of lines; index as i" [class.ontop] = "nbLines - i > 6" [class]="'line line'+ (nbLines - i)">
            <td *ngFor="let col of columns(nbL); index as i" [class]="col"
                (click)="play(i)"
                (pointerenter) = "hover = i"
                (pointerleave) = "hover = -1"
                [class.isHover] = "i === hover"
                >
                <div></div>
            </td>
        </tr>
    </tbody>
</table>
<section class="player">
    <label>{{nbP1}}</label>
    <table>
      <tr>
        <td class="P1" (click)="currentTurn = 'P1'" [class.selected]="editable && currentTurn === 'P1'"><div></div></td>
      </tr>
    </table>
    &nbsp;
    <label>{{nbP2}}</label>
    <table>
      <tr>
        <td class="P2" (click)="currentTurn = 'P2'" [class.selected]="editable && currentTurn === 'P2'"><div></div></td>
      </tr>
    </table>
    &nbsp;
  <ng-container *ngIf="editable">
    x
    <table>
      <tr>
        <td (click)="currentTurn = 'DEL'" [class.selected]="editable && currentTurn === 'DEL'"><div></div></td>
      </tr>
    </table>
  </ng-container>
</section>
