label.pass {
    color: green;
}

label.fail {
    color: red;
}

section.testcase {
    display: flex;
    flex-flow: row;

    > * {
        margin-right: 1em;
    }
}

button.menu {
  width: 30px;
  height: 30px;

  opacity: 0;
}

:host:hover {
  button.menu {
    opacity: 100%;
  }
}

.selected {
  background-color: yellow;
}
