<button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu for test suite">
  <mat-icon>more_vert</mat-icon>
</button>
<label>{{label}}</label>
<label (click) = "details = !details">{{details ? "▼" : "▶"}}</label>

<ol>
    <li *ngFor="let tc of suite.tests; index as i">
        <app-test-case [test] = "tc" [(details)]="Ldetails[i]"></app-test-case>
    </li>
</ol>


  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="editLabel()">
        <mat-icon>edit</mat-icon>
        <span>Edit label</span>
    </button>
    <button mat-menu-item (click)="appendTestCase()">
        <mat-icon>playlist_add</mat-icon>
        <span>Add test case</span>
    </button>

    <hr/>
    <button mat-menu-item color="warn" (click)="removeTestSuite()">
      <mat-icon>delete</mat-icon>
      <span>Remove</span>
    </button>
  </mat-menu>
