:host {
  display: flex;
  flex-flow: column;
  height: 100%;

  mat-sidenav-container {
    flex: 1 1;
  }

  mat-sidenav {
    min-width: 240px;
    a {
      display: block;
      padding: 6px 24px;
      width: 100%;
      text-align: left;
      text-decoration: none;
      color: blue;
    }

    a.current {
      background-color: rgba(0,0,0,.6);
      color: aliceblue;
    }
  }
}

.expand {
    flex: 1 1;
}
