<ng-container *ngIf="obsState | async as S">
  <label class="player">
    <label >Player {{S.gs.turn === "P1" ? "1" : "2"}}</label>
    <div [class]="S.gs.turn"></div>
  </label>

  <table>
    <tbody>
    <tr *ngFor="let nbL of lines">
      <td *ngFor="let col of columns(nbL); index as i" [class]="col"
          (click)="play(i+1)"
          (pointerenter) = "hover = i"
          (pointerleave) = "hover = -1"
          [class.isHover] = "i === hover && S.gs.grid[i].length < 6"
      >
        <div></div>
      </td>
    </tr>
    </tbody>
  </table>
  <form (ngSubmit)="play(colPlay.valueAsNumber)">
    <mat-form-field>
      <mat-label>Play at column</mat-label>
      <input matInput name="playAt" type="number" #colPlay value="4"/>
    </mat-form-field>
  </form>

  <hr/>
  <button mat-raised-button (click)="copyGS()">Copy game state</button>
  <button mat-raised-button (click)="pasteGS()" [disabled]="!(canPasteGS | async)">Paste game state</button>
  <pre class="winner">Winner: {{(S.winner.exec === "failed" ? S.winner.reason : S.winner.returns) | json}}</pre>
  <pre class="error">Validity: {{(S.isValid.exec === "failed" ? S.isValid.reason : (S.isValid.returns.valid ? true : S.isValid.returns.reason )) | json}}</pre>
  <pre class="error" *ngIf="playRes as P">Play: {{ (P.exec === "failed" ? P.reason : (P.returns.success ? "Success" : P.returns.reason)) | json}}</pre>
</ng-container>

