<h2 mat-dialog-title>
    Test case for
    <mat-form-field appearance="fill">
        <mat-label>Operation</mat-label>
        <mat-select [(ngModel)]="op" name="operation">
          <mat-option *ngFor="let operation of operations" [value]="operation">
            {{operation}}
          </mat-option>
        </mat-select>
    </mat-form-field>
</h2>

<mat-dialog-content>
    <form>
        <mat-form-field appearance="fill" class="block">
            <mat-label>Comment</mat-label>
            <textarea [(ngModel)]="comment" name="comment" matInput placeholder="Comment test case"></textarea>
        </mat-form-field>
        <section class="params">
            <app-game-state [state]="state" [editable]="true" (update)="state = $event"></app-game-state>
            <mat-form-field appearance="fill" *ngIf="op === 'play'">
                <mat-label>Column</mat-label>
                <input matInput type="number" name="playColumn" placeholder="Column" [(ngModel)]="playColumn">
            </mat-form-field>
        </section>

        <section class="expect">
            <hr/>
            <h3>Expect to return</h3>
            <ng-container [ngSwitch]="op">
                <ng-container *ngSwitchCase="'isValid'">
                    <mat-form-field appearance="fill">
                        <mat-label>valid</mat-label>
                        <mat-select [(ngModel)]="expectIsValid.valid" name="expectIsValidv_valid">
                          <mat-option [value]="true">true</mat-option>
                          <mat-option [value]="false">false</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="fill" *ngIf="!expectIsValid.valid">
                        <mat-label>reason</mat-label>
                        <mat-select [(ngModel)]="expectIsValid.reason" name="expectIsValidv_reason">
                          <mat-option *ngFor="let reason of expectIsValid_allReasons" [value]="reason">
                            {{reason}}
                          </mat-option>
                        </mat-select>
                    </mat-form-field>
                </ng-container>
                <ng-container *ngSwitchCase="'winner'">
                    <mat-form-field appearance="fill">
                        <mat-label>reason</mat-label>
                        <mat-select [(ngModel)]="expectWinner" name="expectWinnerValues">
                          <mat-option *ngFor="let winner of expectWinnerValues" [value]="expectWinner">
                            {{winner}}
                          </mat-option>
                        </mat-select>
                    </mat-form-field>
                </ng-container>
                <ng-container *ngSwitchCase="'play'">
                    <mat-form-field appearance="fill">
                        <mat-label>valid</mat-label>
                        <mat-select [(ngModel)]="expectPlaySuccess" name="expectPlaySuccess">
                          <mat-option [value]="true">true</mat-option>
                          <mat-option [value]="false">false</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <ng-container *ngIf="!expectPlaySuccess; else playSuccess">
                      <mat-form-field appearance="fill">
                        <mat-label>reason</mat-label>
                        <mat-select [(ngModel)]="expectPlayFailureReason" name="expectPlayFailureReason">
                          <mat-option *ngFor="let reason of expectPlay_allReasons" [value]="reason">
                            {{reason}}
                          </mat-option>
                        </mat-select>
                    </mat-form-field>
                  </ng-container>
                  <ng-template #playSuccess>
                    <app-game-state [state]="expectNewState" [editable]="true" (update)="expectNewState = $event"></app-game-state>
                  </ng-template>
                </ng-container>
            </ng-container>
        </section>

    </form>
</mat-dialog-content>

<mat-dialog-actions>
    <hr/>
    <button mat-button color="warn" (click)="cancel()">Cancel</button>
    <button mat-button color="primary" (click)="ok()">OK</button>
</mat-dialog-actions>
